<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>
				Not&iacute;cias - Desenvolvimento com NODEJS
			</title>
			<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"/>
			<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<h1 class="title-page">
						Portal de not&iacute;cias com NodeJS
					</h1>
					<img src="/img/nodejs-logo.png" class="img-responsive center-block">
					<div class="text-center links-home">
						<a href="/admin/news/add" class="btn btn-success">
							Cadastrar artigo
						</a>
						<a href="/news" class="btn btn-primary">
							Visualizar artigos
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="footer">
					Desenvolvendo com NODEJS
				</div>
			</div>
		</div>
	</body>
</html>