<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>
				Not&iacute;cias - Desenvolvimento com NODEJS
			</title>
			<style>
				.header,
				.list-results {
					margin: 0 auto;
					width: 650px;
					background: #E5E5E5;
				}
				
				.title-page {
					text-align: center;
					color: #FF981A;
				}

				.list-results {
					background: #FFF;
				}

				.list-results {
					margin-top: 10px;
				}

				.list-results ul li {
					margin-bottom: 10px;
					border-bottom: 1px dashed #E5E5E5;
					padding-bottom: 15px;
					line-height: 28px;
					font-size: 14px;
					text-align: justify;
				}

				ul {
					list-style-type: none;
					padding: 0px;
				}

				.title-news {
					color: #00752B;
					text-align: center;
					font-weight: bold;
					font-size: 18px;
				}

				.footer {
				    background: #000;
				    color: #FFF;
				    padding: 10px;
				    text-align: center;
				    font-size: 13px;
				}
			</style>
		</head>
	<body>
		<div class="header">
			<h1 class="title-page">
				Not&iacute;cias
			</h1>
		</div>
		<div class="list-results">
			<ul>
				<% for(var item = 0; item < data.length; item ++) { %>
				<li>
					<div class="title-news">
						<%= data[item].title %>
					</div>
					<div class="content-news">
						<%= data[item].content %>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
		<div class="footer">
			Desenvolvendo com NODEJS
		</div>
	</body>
</html>