<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>
				Not&iacute;cias - Desenvolvimento com NODEJS
			</title>
			<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"/>
			<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<h1 class="title-page">
						Not&iacute;cias
					</h1>
				</div>
				<div class="list-results">
					<ul>
						<% for(var item = 0; item < data.length; item ++) { %>
						<li>
							<div class="title-news">
								<%= data[item].title %>
							</div>
							<div class="content-resume">
								<%= data[item].resume %>
							</div>
							<div class="content-news">
								<%= data[item].content %>
							</div>
							<a href="news/view?id=<%= data[item].id %>" class="btn btn-primary">
								Visualizar notícia
							</a>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="footer">
					Desenvolvendo com NODEJS
				</div>
			</div>
		</div>
	</body>
</html>